services:
  # Servidor Web para o Laravel (Nginx)
  api-server:
    image: nginx:alpine
    ports:
      - "8000:80"
    volumes:
      - ./backend:/var/www
      - ./docker-config/nginx-backend.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - backend

  # PHP-FPM (Laravel)
  backend:
    build:
      context: ./backend
    volumes:
      - ./backend:/var/www
      - /var/www/vendor
    environment:
      - DB_CONNECTION=sqlite
      - DB_DATABASE=/var/www/database/database.sqlite

  # Frontend (Vue.js)
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    ports:
      - "3000:80"